/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --text-white: #cbcbcb;
    --logo-blue: #2d2e83;
    --logo-orange: #f18318;
    --logo-pink: #e6007e;
    --background-blue: #151641;
    --neon: #b5b5b5;
    --neon2: rgb(189, 81, 31);
}

/* BODY */

section {
    align-items: center;
    display: flex;
    justify-content: center;
}

.scroll-snap {
    height: 100vh;
}

.scroll-snap2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* NAVIGATION */

nav {
    background-color: hsl(0deg 0% 0% / 30%);
    display: flex;
    font-size: 1.5rem;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav__logo {
    height: 100px;
}

nav ul {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

nav ul li {
    color: rgb(206, 205, 205);
    padding: 10px 30px;
    list-style: none;
}

nav ul li a {
    color: var(--text-white);
    text-decoration: none;
}

/* HEADER */

header {
    align-items: center;
    background-color: var(--background-blue);
    display: flex;
    flex-direction: column;
    height: 100vh; 
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.intro-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    position: relative;
    z-index: 1;
}

.intro-text h1 {
    color: var(--logo-blue);
    font-size: clamp(25px, 8vw, 65px);

    text-align: center;
    margin-bottom: 10px;
}

.intro-text h2 {
    color: var(--text-white);
    font-size: clamp(20px, 6vw, 55px);
    text-align: center;
    margin-top: 10px;
}

.intro-text__up1, .intro-text__up2, .intro-text__up3, .intro-text__down1, .intro-text__down2, .intro-text__down3 {
    display: none;
}

.intro__back-img-up {
    animation: infinite-spinning 50s infinite linear;
    width: 90vw;
    max-width: 1200px;
    min-width: 500px;
    left: -40%;
    opacity: .2;
    position: absolute;
    top: -30%;
}

.intro__back-img-down {
    animation: infinite-spinning 50s infinite linear;
    bottom: -40%;
    width: 100vw;
    max-width: 1600px;
    min-width: 600px;
    opacity: .2;
    position: absolute;
    right: -50%;
}

@keyframes infinite-spinning {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    } 
  }

/* ABOUT US - SECTION */

.about-us-section {
    background-color: black;
    color: var(--text-white);
}

.about-us {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
    display: flex;
    padding: 100px 60px;
}

.about-us__photo {
    width: 50vw;
    max-height: 400px;
    max-width: 400px;
    border-radius: 50%;
    margin: 20px 0;
}

.about-us__text {
    padding: 0 20px;
}

.about-us__list li {
    list-style: none;
    padding: 20px 20px 20px 50px;
    position: relative;
    margin-left: 20px;
    max-width: 500px;
}


.about-us__list li::before {
    content: "";
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

#about-us__list-1::before {
    background-image: url(./images/icon-pink.png);
}

#about-us__list-3::before {
    background-image: url(./images/icon-light.png);
}

#about-us__list-2::before {
    background-image: url(./images/icon-note.png);
}




.about-us__text {
    display: flex;
    align-self: center;
    justify-content: center;
}


/* GALLERY - SECTION */

.gallery-section {
    overflow: hidden;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    position: relative;
}

@media screen and (max-width: 1000px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.gallery__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    opacity: 0.5;
}


/* BIG IMAGE IN THE CENTER */

.gallery__big-img__container {
    align-items: center;
    background-color: #000000;
    bottom: 0;
    display: flex;
    height: 90%;
    justify-content: center;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    padding: 20px;
    z-index: 2;
}

.gallery__big-img {
    width: 70%;
    height: 70%;
}

.gallery__big-img__btn-hide {
    height: 30px;
    width: 30px;
    background-image: url(./images/icon-close.png);
    background-size: cover;
    position: absolute;
    top: 20px;
    right: 20px
}

.gallery__big-img__arrow-left {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background-image: url(./images/icon-arrow-left.png);
    background-size: cover;

}

.gallery__big-img__arrow-right {
    height: 40px;
    width: 40px;
    margin: 10px;
    background-image: url(./images/icon-arrow-right.png);
    background-size: cover;
}

/* section VIDEOS */

.videos-section {
    background: linear-gradient(217deg, var(--logo-orange), rgba(255,0,0,0) 70.71%), 
    linear-gradient(127deg, rgb(255 129 0 / 80%), rgba(0,255,0,0) 70.71%), 
    linear-gradient(336deg, rgb(191 54 13 / 80%), rgba(0,0,255,0) 70.71%);
}

.videos-section iframe {
    height: 100px;
    width: 200px;
}

/* CONTACT */
.contact-section {
    flex-direction: column;
    background-color: black;
    color: white
}

.contact {
    align-items: center;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    width: 100%;
}

.contact a {
    text-decoration: none;
    color: var(--text-white);
}

.contact__media {
    padding: 40px;
}

.contact__media ul {
    margin-bottom: 30px;
}

.contact__media li {
    list-style: none;
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

.contact__media img {
    width: 50px;
    margin-right: 10px;
}

.contact__form table {
    padding: 40px;
    width: fit-content;
    height: fit-content;
}

.contact__form label {
    width: 100px;
}

.contact__form input, .contact__form textarea {
    background-color: transparent;
    border: 1px solid rgb(171, 171, 171);
    color: rgb(215, 215, 215);
    width: 40vw;
    max-width: 300px;
    padding: 10px;
    margin: 10px;
}

.contact__form input::placeholder {
    color: black;
}


/* EFFECTS */


.neon-border {
    box-shadow: 0 0 .2rem #494949,
    0 0 .2rem #5a5a5a,
    0 0 1rem var(--neon),
    0 0 0.6rem var(--neon),
    0 0 0.6rem var(--neon),
    inset 0 0 0.3rem var(--neon); 
}

.neon-border-two {
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 1rem var(--neon2),
    0 0 0.6rem var(--neon2),
    0 0 1.6rem var(--neon2),
    inset 0 0 1.1rem var(--neon2); 
}


.neonText {
    color: #fff;
    text-shadow:
    0 0 7px #fff, 0 0 10px #fff, 0 0 11px #fff, 0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255), 0 0 0px rgb(255, 255, 255)
  }

.neon-text-pink {
    text-shadow:
    0 0 7px #e6007e, 0 0 2px #e6007e, 0 0 2px #e6007e, 0 0 2px #e6007e, 0 0 2px #e6007e, 0 0 2px #e6007e, 0 0 2px #e6007e, 0 0 0px #e6007e;
}



@media screen and (max-width: 1000px) {
    .about-us {
        flex-direction: column;
        padding: 0;
    }
    .contact {
        flex-direction: column;
        width: fit-content;
        height: 100%;
    }
    nav ul {
        display: none;
    }
}








.scroller {
    height: 3.2em;
    line-height: 1.4em;
    position: relative;
    overflow: hidden;
    width: 16em;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
  }
  .scroller > span {
    position: absolute;
    top: 0px;
    animation: slide 5s infinite;
    font-weight: bold;
    
  }

@keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: -3.4em;
    }
    50% {
        top: -6.8em;
    }
    75%, 100% {
        top: -10.2em;
    }

  }

@media screen and (max-width: 570px) and (orientation: portrait) {
    .contact__form {
        margin: 0 10px;
    }
    .intro__back-img-up {
        top: -15%;
    }
    .intro__back-img-down {
        bottom: -20%;
    }
}